<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password"></property>
  <property name="hibernate.connection.url">jdbc:mysql://mamaspantry.cq7w4mtxmonx.us-east-1.rds.amazonaws.com:3306/pantryVersion1</property>
  <property name="hibernate.connection.username">admin</property>
  <property name="hibernate.default_schema">pantryVersion1</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.connection.pool_size">1</property>
  <property name="hibernate.cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property>
  <property name="hibernate.cache.use_second_level_cache">true</property>
  <mapping resource="User.hbm.xml"/>
  <mapping resource="ShoppingList.hbm.xml"/>
  <mapping resource="Item.hbm.xml"/>  
 </session-factory>
</hibernate-configuration>